$backgroundColor: #191919;
$colorP: #BCA580;
$titleColor: #FBF6D4;
$colorWhite: #FFFF;
$colorIpadh2: #655A48;
$backgroundButton: #493E2C;
$backgroundBtn2: #D2C4A5;
$backgroundFooter: #3B372B;
$fontTitle: 'Bebas Neue',
sans-serif;
$fontText: 'Roboto Slab',
serif;